
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{

    color-scheme: light;

    --color : rgb(218, 41, 28);
    --backColor: rgb(255, 255, 255);

    --mainFont: normal normal 600 1.3em/1.6em 'Outfit', sans-serif;
    --secondaryFont: normal normal 400 1em/1em 'Outfit', sans-serif;
    --thirdFont: normal normal 300 1em/1.55em 'Outfit', sans-serif;

    --boxShadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


body {
    font: var(--mainFont);
    background-color: var(--backColor)  ;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: var(--color);
}

#map {
    height: 1200px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--backColor) !important; /* Utilisation de !important pour forcer la couleur */
}

.custom-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.leaflet-popup-content-wrapper {
    background: white;
    border-radius: 8px;
    box-shadow: none;
    padding: 8px;
    border: 1px solid #ccc;
}

.leaflet-popup-tip {
    background: white;
    border: 1px solid #ccc;
}

.titleMarker{
    font-size: 18px;
    color: var(--color);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: .5%;
    margin-right: .5%;
}
.header a{
    color: black;
    text-decoration: none;
}


.main {
    position: relative;    /* Position relative pour le positionnement absolu */
    height: 90vh;        /* Prend toute la hauteur de la fenêtre */
    margin: 0;            /* Supprime les marges par défaut */
    background-color: var(--backColor); /* Fond de la page, si nécessaire */
}

.card {
    margin: 0;            /* Supprime la marge */
    background-color: var(--backColor);
    border-radius: 15px;
    padding: 2rem;
    display: inline-block;
    box-shadow: var(--boxShadow);
    position: absolute;    /* Position absolue */
    top: 50%;              /* Se positionne à 50% du haut */
    left: 50%;             /* Se positionne à 50% de la gauche */
    transform: translate(-50%, -50%); /* Déplace l'élément de moitié de sa taille */
    z-index: 1;
    width: 30%;
}

.center {
    text-align: center;
    width: 100%;
}

/* Styles de la carte */
#map {
    height: 92vh;
    width: 100%; /* Prend 100% de la largeur */
    transition: width 0.3s ease; /* Animation lors du changement de largeur */
}

/* Styles de la section latérale */
#sidebar {
    width: 30%;
    height: 92vh;
    float: right;
    padding: 10px;
    box-sizing: border-box;
    display: none;
    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 10;
    z-index: 1000;
    margin-top:3%;
}

#closeSidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}



#sidebar img {
    width: 49%;
    height: 30vh;
    border: 1px solid #ccc;
    /* Ajout d'une bordure pour le débogage */
    object-fit: cover; /* Ajuste l'image pour remplir le conteneur sans déformer */
}


.titleSidebar {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#imagesContainer{
    display: flex;
    flex-wrap: wrap;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
